=view-services-on-title-page-row-width($items,$cols-total,$offset: 1)
  width:        columns(1,$cols-total - $offset)

  //Setting the margin between items
  //And resetting it for multiples so that it's possible
  //to use this mixin several times for different media queries
  &,
  &:nth-child(2n),
  &:nth-child(3n),
  &:nth-child(4n),
  &:nth-child(5n),
    margin-right: gutter($items)

  &:nth-child(#{$items}n)
    margin-right: 0

.view-services-on-title-page
  .views-row
    background-color: rgba(black,0.8)
    +inverted-color


    border-radius:    1em
    padding:          1em
    margin-bottom:    $vertical-margin
    overflow:         hidden

    text-align: center

    &>*
      margin-bottom: 1em

    .views-field-field-short-description
      font-size:    0.8em
      font-style:   italic
      color:        $color-inverted-supplementary

    .views-field-field-image
      +intrinsic-ratio(1)
      margin-bottom: 0

      .field-content
        a
          img
            width:  auto
            height: auto
            max-width: 100%
            max-height: 100%
          &:hover
            margin: 0
            padding: 0
            display: inline
            background: transparent

            img
              opacity: 0.7

    +at-breakpoint($layout-m)
      display:        inline-block
      vertical-align: top
      +view-services-on-title-page-row-width(2, $cols-m, 0)

    +at-breakpoint($layout-l)
      +view-services-on-title-page-row-width(2, $cols-l)

    +at-breakpoint($layout-xl)
      +view-services-on-title-page-row-width(3, $cols-xl)

    +at-breakpoint($layout-xxl)
      +view-services-on-title-page-row-width(4, $cols-xxl)


