#footer-wrapper
  background: url("../images/footer-glow.png") no-repeat scroll center top #2A2D30

  #footer
    +standard-container
    padding: $vertical-margin /2 0

    .block
      margin-bottom: 0