#header-wrapper
  +background-image(linear-gradient(left, #F858EF, #FFE413))
  padding-bottom: 2px

#header-wrapper-inner
  background:       url("../images/header-glow.png") no-repeat scroll center bottom $color-header-background
  padding:          $vertical-margin/2 2%

  +inverted-color

  .block
    margin-bottom: 0

$right-col: 1
#header
  +standard-container

  & > :first-child
    +at-breakpoint($layout-l)
      +span-columns($cols-l - $right-col, $cols-l)

    +at-breakpoint($layout-xl)
      +span-columns($cols-xl - $right-col, $cols-xl)

    +at-breakpoint($layout-xxl)
      +span-columns($cols-xxl - $right-col, $cols-xxl)

  & > :nth-child(2)
    +at-breakpoint($layout-l)
      +span-columns($right-col omega, $cols-l)

    +at-breakpoint($layout-xl)
      +span-columns($right-col omega, $cols-xl)

    +at-breakpoint($layout-xxl)
      +span-columns($right-col omega, $cols-xxl)
