#subheader-wrapper
  background: url("../images/black-1x2px.png") repeat-x scroll center bottom  $color-subheader-background

  +inverted-color

  &>*
    +standard-container

    .block
      margin-bottom: 0

    ul
      +horizontal-list

      li
        padding: 1em 0 1.2em
        background: url("../images/menu-arrow.png") no-repeat scroll center bottom transparent


