#block-menu-menu-services

  ul
    line-height:  100%

    margin-left: 0

    li
      +no-bullet
      margin: 0.5em 0

      .nolink:after
        content: ":"

      ul
        margin-left: 1em

        li
          list-style: square outside

  +at-breakpoint($layout-large-and-above)
    font-size:    0.8em